:root {
  --clr-primary-100: #fcf7f8;
  --clr-primary-300: #e0fbfc;
  --clr-primary-500: #98c1d9;
  --clr-primary-700: #3d5a80;
  --clr-primary-900: #374458;
  --clr-primary-max: #293241;
  --clr-orange-100: #ee6c4d;

  --ff-primary: "Playfair Display", serif;
  --ff-accent: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  overflow-x: hidden;
  padding-top: 50px;
}

/* Font styling */

h1 {
  color: var(--clr-primary-100);
}

.jumbotron-text {
  color: var(--clr-primary-300);
}

.nav-item > .nav-link,
.ff-dark > .btn {
  color: var(--clr-primary-300);
}

.nav-item > .nav-link:hover,
.ff-dark > .btn:hover {
  color: var(--clr-orange-100);
  text-decoration: none;
}

.ff-dark > .btn {
  font-size: 1.8rem;
  align-items: center;
}

.navbar-toggler > .navbar-toggler-icon {
  color: var(--clr-primary-300);
}

.ff-dark,
a {
  color: var(--clr-primary-900);
}

.hover-link {
  color: var(--clr-orange-100);
}

.hover-link:hover {
  color: var(--clr-primary-500);
  font-style: none;
  text-decoration: none;
  transition: 0.5s;
}

article > div,
article > ul > li {
  color: var(--clr-primary-700);
}

section > h2 {
  color: var(--clr-primary-300);
}

/* Container Margins */

.ul-padding {
  margin: auto;
}

/* Image styling & Animation*/

img {
  max-width: 250px;
  margin: auto;
}

img:hover {
  transform: scale(1.025);
  transition: 0.5s;
}

.hover-effect-o {
  color: var(--clr-primary-300);
}

.hover-effect-o:hover {
  color: var(--clr-orange-100);
  transition: 0.5s;
  text-decoration: none;
}

/* Background styling */

nav {
  background-color: var(--clr-primary-max);
}

header {
  background-image: url(../Images/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.jumbotron-text-box {
  max-width: 850px;
  margin: 15px auto;
  background: rgba(58, 68, 88, 0.6);
  padding: 15px 15px;
  border-radius: 15px;
}

.accordion > .card {
  border-color: var(--clr-primary-900);
}

.card > .card-header {
  background-color: var(--clr-primary-900);
  border-color: var(--clr-primary-900);
}

footer {
  background-color: var(--clr-primary-max);
}

/* Button Styling */

.container > .jumbotron-btn,
.text-center > .btn {
  background-color: var(--clr-orange-100);
  border-color: var(--clr-orange-100);
}

.btn .container > .jumbotron-btn:hover,
.text-center > .btn:hover {
  background-color: var(--clr-primary-300);
  border-color: var(--clr-primary-300);
  color: var(--clr-orange-100);
  transition: 0.5s;
}

.light-icons {
  color: var(--clr-primary-300);
  transition: 0.5s;
  margin: 10px 20px;
}

.light-icons:hover {
  color: var(--clr-orange-100);
}

/* Contact Form Styling */

.form-floating {
  max-width: 600px;
  margin: auto;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  img {
    max-width: 400px;
  }
}
