body {
  /* display: flex;
  flex-direction: column; */
  max-width: 600px;
  border: 1px solid red;
  margin: auto;
  /* align-items: center; */
}

.container,
h1 {
  display: table;
  /* flex-direction: column; */
  /* align-items: center; */
}

.input-container {
  display: table-row;
  /* flex-direction: row; */
}

label {
  display: table-cell;
  text-align: right;
}
input {
}

.radio-container {
  display: table-row;
  flex-direction: row;
}
